    <section id="content" class="shortcode-item">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-7">
                    <h2>Our Services</h2>
                    <div class="tab-wrap">
                        <div class="media">
                            <div class="parrent pull-left">

                                <ul class="nav nav-tabs nav-stacked">
                                    <li class=""><a href="#tab1" data-toggle="tab" class="analistic-01">Fast and Reliable</a></li>
                                    <li class="active"><a href="#tab2" data-toggle="tab" class="analistic-02">Extended Travel</a></li>
                                    <li class=""><a href="#tab3" data-toggle="tab" class="tehnical">Weddings</a></li>
                                    <li class=""><a href="#tab4" data-toggle="tab" class="tehnical">Excursions</a></li>
                                    <li class=""><a href="#tab5" data-toggle="tab" class="tehnical">Customer Service</a></li>
                                </ul>
                            </div>

                            <div class="parrent media-body">
                                <div class="tab-content">
                                    <div class="tab-pane fade" id="tab1">
                                        <div class="media">
                                           <div class="pull-left">
                                                <img class="img-responsive" src=<%=  asset_path "tab1.jpg" %> >
                                            </div>
                                            <div class="media-body">
                                                 <p> Fast and reliable transportation services to and from all Atlanta airports including Atlanta Hartsfield airport, Peachtree Dekalb airport and Fulton county airport</p>
                                            </div>
                                        </div>
                                    </div>

                                     <div class="tab-pane fade active in" id="tab2">
                                        <div class="media">
                                           <div class="pull-left">
                                                <img class="img-responsive" src=<%=  asset_path "tab2.jpg" %> >
                                            </div>
                                            <div class="media-body">
                                                 <p>Day long or extended travel for executives and professionals who might have multiple meetings and stops throughout the city or even those interested in more leisurely pursuits who want to enjoy the famous Atlanta shopping and sites</p>
                                            </div>
                                        </div>
                                     </div>


                                     <div class="tab-pane fade" id="tab3">

                                        <div class="media">
                                           <div class="pull-left">
                                                <img class="img-responsive" src=<%=  asset_path "tab3.jpg" %> >
                                            </div>
                                            <div class="media-body">
                                              <p>
                                              Weddings, Proms or any events that require multiple vehicles, sedans or Suvs
                                              </p>
                                            </div>
                                        </div>
                                      </div>
                                     <div class="tab-pane fade" id="tab4">

                                        <div class="media">
                                           <div class="pull-left">
                                                <img class="img-responsive" src=<%=  asset_path "tab4.jpg" %> >
                                            </div>
                                            <div class="media-body">
                                              <p>Short haul excursions to Savannah, Augusta, South Carolinaor surrounding areas.</p>
                                            </div>
                                        </div>
                                     </div>

                                     <div class="tab-pane fade" id="tab5">
                                       <p> Most importantly, we pride ourselves on un-rivaled customer service. Our chauffeurs are professional, courteous and on-time and in addition to offering a wide range of vehicles and services, we also leverage GPS technologies to ensure a ride with the least amount of traffic.</p>
                                     </div>
                                </div> <!--/.tab-content-->
                            </div> <!--/.media-body-->
                        </div> <!--/.media-->
                    </div><!--/.tab-wrap-->
                </div><!--/.col-sm-6-->

                <div class="col-xs-12 col-sm-5">
                    <h2>Testimonials</h2>
                    <div class="accordion">
                        <div class="panel-group" id="accordion1">
                          <div class="panel panel-default">
                            <div class="panel-heading active">
                              <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">
                                  Thank you for the great service 
                                  <i class="fa fa-angle-right pull-right"></i>
                                </a>
                              </h3>
                            </div>

                            <div id="collapseOne1" class="panel-collapse collapse in">
                              <div class="panel-body">
                                  <div class="media accordion-inner">
                                        <div class="pull-left">
                                            <img class="img-responsive" src="/assets/accordion1.png">
                                        </div>
                                        <div class="media-body">
                                             <h4>Marilyn Knight</h4>
                                             <p>Sanusi, thank you for the great service you provide.  You are always prompt and pleasant; you make it easy for our travelers.</p>
                                        </div>
                                  </div>
                              </div>
                            </div>
                          </div>

                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1">
                                  No worries
                                  <i class="fa fa-angle-right pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseTwo1" class="panel-collapse collapse">
                              <div class="panel-body">
                                <h4>Marilyn Knight</h4>
                                I found C-Boy from Smyrna Vinnnings Airport Cabs Service almost a year ago. I call it luck. For someone who travels to the airport twice a week, you can understand how important it was to find a caring and professional car service. Always prompt and courteous, Smyrna Vinnnings Airport Cabs drivers make travel easy. I wouldn't call anyone else.
                              </div>
                            </div>
                          </div>

                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1">
                                  Best in town
                                  <i class="fa fa-angle-right pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseThree1" class="panel-collapse collapse">
                              <div class="panel-body">
                                <h4>Ann H</h4>
                                I love Smyrna Vinnnings Airport Cabs Service. As a woman who travels alone, the security I feel with Smyrna Vinnnings Airport Cabs is beautiful. They are very dependable and that's a rare quality you find these days. I would recommend Smyrna Vinnnings Airport Cabs to anyone. Blessed to have found them.
                              </div>
                            </div>
                          </div>
                        </div><!--/#accordion1-->
                    </div>
                </div>
            </div><!--/.row-->
        </div><!--/.container-->
    </section>

