<!--text slides home page-->
<div class="slides hidden-xs animation animated-item-4">
  <ul> <!-- slides -->
    <li>
    <div>Airport Cabs</div>
    <div id="para">Everything you expect from a transportation service</div>
    </li>
    <li>
    <div>Call Us 770-572-6900</div>
    <div id="para">Have a good day to clients goes a long way</div>
    </li>
    </li>
    <li>
    <div>Peachtree Dekalb Airport</div>
    <div id="para">Affordable Resources of any type of pick up</div>
    </li>
    <li>
    <div>Luxury Transportation</div>
    <div id="para">Crafted for today’s business and leisure traveler</div>
    </li>
  </ul>
</div>
<!--text slide-->
