<section>
<div class="center"> 

  <img src=<%= asset_path "thank_you.jpg" %> class="center" alt=""> 
  <h2>Your Contact Saved Sucessfully!</h2>
  <p class="lead"></p>
  <p> 
</p>
</div>
</section>