<section id="contact-info">
<div class="center">                
  <h2>How to Contact Us?</h2>
  <p class="lead">Smyrna Vinings Airport cabs team is always available 24hrs a day, 7 days a week</p>
</div>
<div class="gmap-area" style= "background-image: url(<%=  asset_path "map.jpg" %> );" >
  <div class="container">
    <div class="row">
      <div class="col-sm-5 text-center">
        </div>
      </div>

      <div class="col-sm-7 map-content">
        <ul class="row">
          <li class="col-sm-6">
          <address>
            <h5>Item</h5>
            <p>Distance 55 Miles </p>
          </address>

          <li class="col-sm-6">
          <address>
            <h5>Amount</h5>
            <p>$30.00</p>
          </address>

          </li>
        </ul>



        <ul class="row">
          <li class="col-sm-6">
          <address>
            <p>Child Seat</p>
          </address>

          <li class="col-sm-6">
          <address>
            <p>$10.00</p>
          </address>
          </li>
        </ul>


        <ul class="row">
          <li class="col-sm-6">
          <address>
            <h5>Total</h5>
          </address>

          <li class="col-sm-6">
          <address>
            <h5>$40.00</h5>
          </address>
          </li>
        </ul>


        <%= link_to "Checkout", @reservation.paypal_url(reservations_show_url) %>

      </div>
    </div>
  </div>

</div>

</section> 



