<section style="padding-top: 70px;">
<div class="center">                

<div class="gmap-area" style= "background-image: url(<%=  asset_path "map.jpg" %> );" >
  <div class="container">
    <div class="row contact-wrap">
      <div class ="contact-form">

        <div class="col-sm-11 map-content">

          <div class="row invoice-head">
            <div class="col-sm-10">
                Services
            </div>
            <div class="col-sm-2 price">
              <label> Price</label>
            </div>
          </div>


          <% @reservation.special_requests.each do |d| %>
            <% if d.price > 0 %>
              <div class="row invoice-item">
                <div class="col-sm-10" >
                  <label><%= d.get_desc %></label>
                </div>

                <div class="col-sm-2 price">
                  <label><%= number_with_precision(d.price, :precision => 2) %></label>
                </div>
              </div>
            <% end %>
          <% end %>

          <div>
          </div>
          <div class="row">
            <div class="col-sm-10">
              <label style="float:right;" >Total</label>
            </div>
            <div class="col-sm-2 price">
              <label><%= @tot.to_s %></label>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
</div>
</div>
</section>


