<section>
<div class="gmap-area" style= "background-image: url(<%=  asset_path "partners/partner_bg.png"  %> );" > 
  <div class="container">
    <div class="row contact-wrap"> 

    <div class="col-sm-5 text-center">
      <div class="gmap-big">
        <div id="map_canvas">
        </div>
      </div>
      <label id = "distance1"></label>
    </div>


  </div> <!--row -->
</div> <!--container --> 
</div> <!--gmap-area -->

  </section>

