<section>
<div class="center"> 
 
  <h2>Your Reservation Saved Sucessfully!</h2>
  

 <% if @reservation.special_requests.count > 0 %>
<%= render "pay_cart" %>
<% end %>
  
  <p class="lead"></p>
  <p> 
</p>
</div>
</section>