<section id="contact-info">
<div class="center">                
  <h2>Your Reservation is Successful</h2>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
</div>
</sections>
