<html>
<head>
  <title></title>
</head>
<body>
<p style="text-align: right;"><strong>Call <a href="tel:770.572.6900" target="_blank" value="+17705726900">770.572.6900</a>&nbsp;if any changes in your reservation</strong></p>

<hr />
<p>Hi &lt;%body%&gt;</p>

<p>Thank you for choosing Smyrna Vinings Airport Cab. &nbsp;</p>

<p>It is our pleasure to confirm the following reservation. &nbsp;Feel free to contact us if any changes need to be made in this reservation by calling us at <span style="color:#0000FF;">770-572-6900</span></p>

<p>Reservation Date : &lt;$date$&gt;</p>

<p>Time : &lt;$time$&gt;</p>

<p>Pick-up Address : &lt;%address%&gt;</p>

<p>Drop-off Address: &lt;$address$&gt;</p>

<p>Vehicle Type: &lt;%vehicle%&gt;</p>

<hr />
<p>&nbsp;</p>
</body>
</html>
