<section> 
<div class="center">                
  <h2>Terms and Condition</h2>
</div>
<div>
  <div class="container">
    <div class ="feature-wrap row">
      <div class="col-md-1">

                            <i class="fa fa-legal"></i>
                          </div>
                          <div class="col-md-11">
                            <ul>
                              <li>
                              Reservations can be made as late as one hr before your schedule pick up time and can be cancelled one hr before your scheduled pick up time for a full refund. Reservation cancelled after one hr before pick up time will not be refunded.
                              </li>
                              <li>
                              Smoking is not permitted in any of our cars
                              </li>
                              <li>
                              Awaiting fee will apply 15 mins after the schedule pick up time. (This does not apply to airport pick ups)
                              </li>
                              <li>
                              Client will pay for any damage done to interior gadgets of the our cars
                              </li>
                            </ul>
                          </div>
  </div>
  </div>

</div>
</section>
