 <section class="pricing-page">
        <div class="container">
            <div class="center">  
                <h2>Special Offers</h2>
                <p class="lead">At Smyrna Vinings Airport Cabs, we are dedicated to getting you to your destination <br>safely and comfortably at a price you can afford</p>
            </div>  
            <div class="pricing-area text-center">
                <div class="row">
                    <div class="col-sm-4 plan price-one wow fadeInDown">
                        <ul>
                            <li class="heading-one">
                                <h1>5% Discount</h1>
                                <span>Hourly Rates</span>
                            </li>
                            <li>Online Booking Only</li>
                            <li>Only on Airport Fare</li>
                            <li>Any Fare Over 40$</li>
                            <li>Limited Time Offer</li>
                            <li class="plan-action">
                                <a href="" class="btn btn-primary">Book</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-sm-4 plan price-two wow fadeInDown">
                        <ul>
                            <li class="heading-two">
                                <h1>10% Discount</h1>
                                <span>One Way</span>
                            </li>
                            <li>Online Booking Only</li>
                            <li>Only on Airport Fare</li>
                            <li>On Hourly Rates</li>
                            <li>Limited Time Offer</li>
                            <li class="plan-action">
                                <a href="" class="btn btn-primary">Book</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-sm-4 plan price-three wow fadeInDown">
                        <img src=<%= asset_path "ribon_one.png" %> >
                        <ul>
                            <li class="heading-three">
                                <h1>20% Discount</h1>
                                <span>Round Fare</span>
                            </li>
                            <li>Online Booking Only</li>
                            <li>Only on Airport Fare</li>
                            <li>Round Fare</li>
                            <li>Limited Time Offer</li>
                            <li class="plan-action">
                                <a href="" class="btn btn-primary">Book</a>
                            </li>
                        </ul>
                    </div>

            </div>
            </div><!--/pricing-area-->


            <div class="get-started center wow fadeInDown">
                <h2>Share Your Experiance in FaceBook</h2>
                <p class="lead">Get
                <span style="color:#c52d2f;"><u>10%</u></span> Discount on your next fare</p>
                <div class="request">
                  <h4>
<a href="https://www.facebook.com/pages/Smyrna-Vinings-Airport-Taxi/293448174121289"><i class="fa fa-facebook">&nbsp;  Join With Facebook</i></a>
                  
                  </h4>
                </div>
            </div><!--/.get-started-->

        </div><!--/container-->
    </section><!--/pricing-page-->
    
